<div class="container">
    <mat-form-field class="asset-type">
        <mat-label>{{ 'asset.type' | translate }}</mat-label>
        <mat-select
                [(ngModel)]="selectedAssetType"
                (selectionChange)="onAssetTypeSelect($event.value)"
                panelClass="custom-select-panel">
            <mat-option *ngFor="let assetType of assetTypeOptions" [value]="assetType">
                {{ 'asset.' + assetType.toLowerCase() | translate }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="asset-container">
        <div class="asset-list">
            <div class="search-header" *ngIf="!selectedAsset">
                <input
                        [(ngModel)]="searchTerm"
                        placeholder="{{ 'asset.search.asset' | translate }} {{ _assets.length }}"
                        class="native-input">
            </div>

            <div class="search-header" *ngIf="selectedAsset">
                <div class="native-input" *ngIf="selectedAsset">
                    <span class="symbol">({{ selectedAsset.symbol }})</span>
                    {{ selectedAsset.name }}
                    <button class="inner-button" (click)="resetPickedAsset()">{{ 'common.change' | translate }}</button>
                </div>
            </div>

            <div *ngIf="!selectedAsset">
                <div *ngFor="let asset of _assets | filterByName: searchTerm"
                     class="asset-item"
                     (click)="onAssetSelect(asset)">
                    <span class="symbol">({{ asset.symbol }})</span>
                    {{ asset.name }}
                </div>
            </div>
        </div>
    </div>
</div>