<div class="row justify-content-center">
    <div class="col-sm-5">
        <app-card cardTitle="Wallet Add Asset">
            <h5>{{ 'asset.add.asset' | translate }}</h5>
            <form [formGroup]="addAssetForm" (ngSubmit)="onSubmit()">
                <div>
                    <div class="form-group">
                        <app-asset-selection-list (assetChanged)="onAssetChange($event)"></app-asset-selection-list>
                    </div>

                    <div class="form-group">
                        <label for="count">{{ 'common.count' | translate }}
                            <span *ngIf="asset?.unitType">({{ asset.unitType | translate }})</span>
                        </label> <input
                            type="text"
                            class="form-control"
                            id="count"
                            formControlName="count"
                            placeholder="{{ 'enter.count' | translate }}"
                            required
                            appNumberInput
                    />
                        <div *ngIf="addAssetForm.get('count')?.invalid">
                            <small class="error">{{ 'error.digit.should.be.positive' | translate }}</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="purchasePrice">
                            <ng-container *ngIf="assetType !== 'CURRENCY'; else currencyLabel">
                                {{ 'asset.purchase.price' | translate }}
                            </ng-container>
                            <ng-template #currencyLabel>
                                {{ 'asset.purchase.rate' | translate }}
                            </ng-template>
                        </label>

                        <input
                                type="text"
                                class="form-control"
                                id="purchasePrice"
                                formControlName="purchasePrice"
                                placeholder="{{ 'enter.price' | translate }}"
                                [value]="assetType === 'CURRENCY' && currencyIsSame() ? 1 : null"
                                [readonly]="assetType === 'CURRENCY' && currencyIsSame()"
                                [disabled]="assetType === 'CURRENCY' && currencyIsSame()"
                                required
                                appNumberInput
                        />

                        <div *ngIf="addAssetForm.get('purchasePrice')?.invalid">
                            <small class="error">{{ 'error.digit.should.be.positive' | translate }}</small>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="assetType === 'CUSTOM'">
                        <label for="currentPrice">{{ 'asset.current.price' | translate }}</label>
                        <input
                                type="text"
                                class="form-control"
                                id="currentPrice"
                                formControlName="currentPrice"
                                placeholder="{{ 'enter.current.price' | translate }}"
                                required
                                appNumberInput
                        />
                        <div *ngIf="addAssetForm.get('currentPrice')?.invalid">
                            <small class="error">{{ 'error.digit.should.be.positive' | translate }}</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{ 'common.currency' | translate }}</label>
                        <app-currency-change-option></app-currency-change-option>

                        <div *ngIf="addAssetForm.get('currencyType')?.invalid">
                            <small class="error">{{ 'error.currency.is.required' | translate }}</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <div *ngIf="assetType === 'CUSTOM'">
                            <label for="unitType">{{ 'common.unit' | translate }}</label>
                            <textarea
                                    class="form-control"
                                    id="unitType"
                                    rows="1"
                                    formControlName="unitType"
                                    placeholder="{{ 'asset.optional.unit' | translate }}"
                            ></textarea>
                            <small class="text-muted">
                                {{ remainingUnitChars }} {{ 'common.remaining' | translate }}
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="comment">{{ 'asset.comment' | translate }}</label>
                        <textarea
                                class="form-control"
                                id="comment"
                                rows="3"
                                formControlName="comment"
                                placeholder="{{ 'asset.optional.comment' | translate }}">
                        </textarea>
                        <small class="text-muted">
                            {{ remainingCommentChars }} {{ 'common.remaining' | translate }}
                        </small>
                    </div>

                    <app-asset-price-display></app-asset-price-display>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" [disabled]="isSubmitting">
                            {{ 'asset.add.asset' | translate }}
                        </button>
                    </div>

                    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
                </div>
            </form>
        </app-card>
    </div>
</div>