<form [formGroup]="addAssetForm" (ngSubmit)="onSubmit()">
    <div>

        <div>
            <app-asset-selection-list></app-asset-selection-list>
        </div>

        <div>
            <label for="count">{{ 'common.count' | translate }}</label>
            <input
                    type="number"
                    id="count"
                    formControlName="count"
                    min="0.01"
                    required
            />
            <div *ngIf="addAssetForm.get('count')?.invalid && addAssetForm.get('count')?.touched">
                <small class="error">{{ 'error.count.should.be.positive' | translate }}</small>
            </div>
        </div>

        <div>
            <label for="purchasePrice">{{ 'asset.purchase.price' | translate }}</label>
            <input
                    type="number"
                    id="purchasePrice"
                    formControlName="purchasePrice"
                    min="0.01"
                    required
            />
            <div *ngIf="addAssetForm.get('purchasePrice')?.invalid && addAssetForm.get('purchasePrice')?.touched">
                <small class="error">{{ 'error.purchase.price.should.be.positive' | translate }}</small>
            </div>
        </div>

        <div>
            <label for="currency">{{ 'common.currency' | translate }}</label>
            <select id="currency" formControlName="currency">
                <option *ngFor="let currency of currencyOptions" [value]="currency">{{ currency }}</option>
            </select>
            <div *ngIf="addAssetForm.get('currency')?.invalid && addAssetForm.get('currency')?.touched">
                <small class="error">{{ 'error.currency.is.required' | translate }}</small>
            </div>
        </div>

        <button type="submit" [disabled]="isSubmitting">
            {{ 'asset.add.asset' | translate }}
        </button>

        <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </div>

    <app-wallet-footer-navbar></app-wallet-footer-navbar>
</form>
