.navbar {
  position: absolute;
  display: flex;
  top: 15%;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
}

/* Language Selector */
.navbar-language {
  position: absolute;
  left: 20px;
}

/* Wallet and Subscription */
.navbar-wallet-subscription {
  position: absolute;
  left: 200px;
}

/* Main Button Section */
.navbar-main {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}

.navbar-main button {
  font-size: 25px;
}

/* Subscription Button */
.navbar-subscription button {
  font-size: 16px;
  left: 240%;
}

/* Wallet Button */
.navbar-wallet button {
  font-size: 16px;
  right: 350%;
}

/* Authentication  */
.navbar-auth {
  position: absolute;
  right: 10px;
}
