server:
  port: 8800

spring:
  mongodb:
    uri: mongodb://finance:finance@localhost:27017/finance?authSource=admin

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always