server:
  port: 8900

schedule:
  time-ms: 5000
  fetch-page-size-per-round: 5

kafka:
  enabled: true

spring:
  mongodb:
    host: localhost
    port: 27017
    database: subscription
  kafka:
    bootstrap-servers: localhost:9092,localhost:9094
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

application:
  config:
    finance-url: http://finance-server:8800/api/v1/finances

send-email-topic: send-email-topic

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always