server:
  port: 8200

spring:
  datasource:
    username: wallet
    password: wallet
    url: jdbc:postgresql://localhost/wallet?sslmode=disable
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

application:
  config:
    finance-url: http://localhost:8800/api/v1/finances

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always