<ul class="navbar-nav">
    <li>
        <a href="javascript:" class="full-screen" (click)="toggleFullscreen()">
            <i class="feather" [ngClass]="screenFull ? 'icon-minimize' : 'icon-maximize'"></i>
        </a>
    </li>

    <li class="nav-item" ngbDropdown placement="bottom-end">
        <a class="nav-link" href="javascript:" ngbDropdownToggle>
            <i class="feather icon-globe"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end profile-notification" ngbDropdownMenu>
            <ul class="lang-body">
                <li>
                    <a class="dropdown-item" href="javascript:"
                       (click)="useLanguage('en'); isMenuOpen = false">
                        <span class="flag-icon">🇬🇧</span>
                        English
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="javascript:"
                       (click)="useLanguage('pl'); isMenuOpen = false">
                        <span class="flag-icon">🇵🇱</span>
                        Polski
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <div class="dropdown drp-user" ngbDropdown placement="auto">
            <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
                <i class="icon feather icon-settings"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end profile-notification" ngbDropdownMenu>
<!--                <div class="pro-head">-->
<!--                    <span>Name</span>-->
<!--                </div>-->
                <ul class="pro-body">
<!--                    <li>-->
<!--                        <a href="javascript:" class="dropdown-item">-->
<!--                            <i class="feather icon-settings"></i>-->
<!--                            Settings-->
<!--                        </a>-->
<!--                    </li>-->
                    <li>
                        <a href="javascript:" class="dropdown-item" (click)="logout()">
                            <i class="feather icon-lock"></i>
                            Log out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>
