<div class="form-group">
    <label>{{ 'asset.type' | translate }}</label>
    <select class="form-control"
            [(ngModel)]="selectedAssetType"
            (change)="onAssetTypeSelect($any($event.target).value)">
        <option *ngFor="let assetType of assetTypeOptions"
                [value]="assetType">
            {{ 'asset.' + assetType.toLowerCase() | translate }}
        </option>
    </select>
</div>

<label>{{ 'common.asset' | translate }}</label>
<div class="form-control">
    <div class="asset-list">
        <!-- Custom Asset Selection -->
        <div *ngIf="selectedAssetType === AssetType.CUSTOM">
            <div class="search-header">
                <input
                        [(ngModel)]="customAssetName"
                        (input)="onCustomAssetInput()"
                        placeholder="{{ 'asset.custom.placeholder' | translate }}"
                        class="native-input"
                />
            </div>
        </div>

        <!-- Currency Selection -->
<!--        <div *ngIf="selectedAssetType === AssetType.CURRENCY">-->
<!--            <div *ngFor="let currencyType of _currencies | filterByName: searchTerm"-->
<!--                 class="asset-item"-->
<!--                 (click)="onAssetSelect(currencyType)">-->
<!--                <span class="symbol">({{ currencyType.symbol }})</span>-->
<!--                {{ currencyType.name }}-->
<!--            </div>-->
<!--        </div>-->

        <!-- Asset Selection (for other asset types) -->
<!--        <div *ngIf="selectedAssetType !== AssetType.CUSTOM && selectedAssetType !== AssetType.CURRENCY">-->
        <div *ngIf="selectedAssetType !== AssetType.CUSTOM">
            <div class="search-header" *ngIf="!selectedAsset">
                <input
                        [(ngModel)]="searchTerm"
                        placeholder="{{ 'asset.search.asset' | translate }} {{ _assets.length }}"
                        class="native-input"
                />
            </div>
            <div *ngIf="!selectedAsset">
                <div *ngFor="let asset of _assets | filterByName: searchTerm" class="asset-item"
                     (click)="onAssetSelect(asset)">
                    <span class="symbol">({{ asset.symbol }})</span>
                    {{ asset.name }}
                </div>
            </div>
        </div>

        <div *ngIf="selectedAsset" class="selected-asset">
            <div class="native-input d-flex align-items-center gap-3">
                <span>
                    ({{ selectedAsset.symbol }})
                    {{ selectedAsset.name }}
                </span>
                <div class="ms-auto">
                    <button class="btn btn-outline-warning"
                            (click)="resetPickedAsset()">
                        {{ 'common.change' | translate }}
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>