th {
  background: burlywood;
  color: black;
}

th, td {
  padding: 8px;
  text-align: center;
  color: black;
}

.table-header {
  text-align: center;
  background: antiquewhite;
}

.table-footer {
  text-align: center;
  background: antiquewhite;
}
