<!-- Loading State -->
<div *ngIf="isLoading" class="loading-state">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<!-- Wallet Assets -->
<div class="row">
    <ng-container *ngIf="!_assets.length && !isLoading; else assetTable">
        <div class="empty-wallet-history-text">
            <h3>{{ 'asset.no.assets.message' | translate }}</h3>
            <button class="btn btn-primary" (click)="addAssetButton()">
                {{ 'asset.add.asset' | translate }}
            </button>
        </div>
    </ng-container>

    <ng-template #assetTable>
        <!-- Wallet Table -->
        <div class="col-xl-12 col-md-6">
            <div class="col-xl-12">
                <app-card
                        cardTitle="Wallet Table"
                        [options]="false"
                        blockClass="table-border-style"
                >
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ 'common.name' | translate }}</th>
                                <th>{{ 'common.count' | translate }} ({{ 'unit.UNIT' | translate }})</th>
                                <th>{{ 'common.value' | translate }}</th>
                                <th>{{ 'asset.average.purchase.price' | translate }}</th>
                                <th>{{ 'common.current.price' | translate }} ({{ 'unit.UNIT' | translate }})</th>
                                <th>{{ 'asset.weight' | translate }}</th>
                                <th>{{ 'asset.profit' | translate }}</th>
                                <th>{{ 'asset.profit.in.percentage' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let assetType of Object.keys(groupedAssets)">
                                <tr class="table-header">
                                    <td colspan="8"><strong>{{ assetType | translate }}</strong></td>
                                </tr>

                                <tr *ngFor="let asset of groupedAssets[assetType]">
                                    <td>
                                        {{ asset.name }}
                                    </td>

                                    <td *ngIf="asset.assetType === AssetType.CURRENCY; else customCount">
                                        {{ asset.count | number: '1.0-2' }} ({{ CurrencyType.Symbols[asset.name] }})
                                    </td>

                                    <ng-template #customCount>
                                        <td *ngIf="asset.unitType === 'UNIT'; else customUnit">
                                            {{ asset.count | number: '1.0-6' }}
                                        </td>
                                        <ng-template #customUnit>
                                            <td>
                                                {{ asset.count | number: '1.0-6' }} ({{ asset.unitType | translate }})
                                            </td>
                                        </ng-template>
                                    </ng-template>

                                    <td>{{ asset.value | number: '1.0-6' }}{{ CurrencyType.Symbols[asset.currencyType] }}</td>
                                    <td>{{ asset.averagePurchasePrice | number: '1.0-6' }}{{ CurrencyType.Symbols[asset.currencyType] }}</td>

                                    <td *ngIf="asset.assetType !== 'CUSTOM'; else fallbackUnit">
                                        {{ asset.currentPrice | number:'1.0-6' }}{{ CurrencyType.Symbols[asset.currencyType] }}
                                        {{ asset.unitType === 'UNIT' ? '' : '(' + (asset.unitType | translate) + ')' }}
                                    </td>

                                    <ng-template #fallbackUnit>
                                        <td>
                                            {{ asset.count }}
                                            {{ asset.unitType ? '(' + asset.unitType + ')' : '' }}
                                        </td>
                                    </ng-template>

                                    <td>{{ calculateWeight(asset) }}%</td>

                                    <td [ngStyle]="{ color: asset.profit === 0 ? 'black' : (asset.profit > 0 ? 'green' : 'red') }">
                                        {{ asset.profit | number:'1.0-6' }}{{ CurrencyType.Symbols[asset.currencyType] }}
                                    </td>

                                    <td [ngStyle]="{ color: asset.profitInPercentage === 0 ? 'black' : (asset.profitInPercentage >= 0 ? 'green' : 'red') }">
                                        {{ asset.profitInPercentage + '%' }}
                                    </td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </app-card>
            </div>
        </div>

        <!-- Donut Chart -->
        <div class="col-md-6">
            <app-card cardTitle="Asset Division Chart" [options]="false">
                <apx-chart
                        [series]="donutChart.series"
                        [chart]="donutChart.chart"
                        [labels]="donutChart.labels"
                        [colors]="donutChart.colors"
                        [legend]="donutChart.legend"
                        [dataLabels]="donutChart.dataLabels"
                        [plotOptions]="donutChart.plotOptions"
                ></apx-chart>
            </app-card>
        </div>

        <!-- Profit Cards -->
        <div class="col-md-6 h-100">
            <div class="row g-3 h-100">
                <ng-container *ngFor="let profit of profits; trackBy: trackProfit">
                    <div class="col-12 h-50">
                        <app-card [hidHeader]="true" class="h-100">
                            <h6 class="mb-4">{{ profit.title }}</h6>
                            <div class="row d-flex align-items-center">
                                <div class="col-10">
                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                        <i class="feather {{ profit.icon }} f-30 m-r-10"></i>
                                        {{ profit.amount | number:'1.2-2' }}{{ CurrencyType.Symbols[selectedCurrency] }}
                                        {{ profit.percent }}
                                    </h3>
                                </div>
                            </div>
                            <div class="m-t-30">
                                <ngb-progressbar
                                        type="progress-bar {{ profit.progress_bg }}"
                                        height="5px"
                                        [value]="profit.progress"
                                ></ngb-progressbar>
                            </div>
                        </app-card>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-template>
</div>
