th {
  background: burlywood;
  color: black;
}

th, td {
  padding: 8px;
  text-align: center;
  color: black;
}

.table-header {
  text-align: left;
  background: antiquewhite;
}

.table-footer {
  text-align: left;
  background: antiquewhite;
}

.empty-wallet-text {
  margin-top: 10%;
  text-align: center;
}

.add-asset-button {
  margin-top: 5%;
}
