<div class="container">
    <ng-container *ngIf="Object.keys(groupedAssets).length === 0; else assetsTable">
        <div class="empty-wallet-text">
            <h3>{{ 'asset.no.assets.message' | translate }}</h3>
            <div class="add-asset-button">
                <button (click)="addAssetButton()">{{ 'asset.add.asset' | translate }}</button>
            </div>
        </div>
    </ng-container>

    <ng-template #assetsTable>
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th>{{ 'common.name' | translate }}</th>
                <th>{{ 'common.count' | translate }}</th>
                <th>{{ 'common.currency' | translate }}</th>
                <th>{{ 'common.value' | translate }}</th>
                <th>{{ 'asset.average.purchase.price' | translate }}</th>
                <th>{{ 'common.current.price' | translate }}</th>
                <th>{{ 'asset.profit' | translate }}</th>
                <th>{{ 'asset.profit.in.percentage' | translate }}</th>
            </tr>
            </thead>

            <tbody>
            <ng-container *ngFor="let assetType of Object.keys(groupedAssets)">
                <td class="table-header" colspan="8"></td>

                <tr class="table" *ngFor="let asset of groupedAssets[assetType]">
                    <td>({{ asset.symbol }}) {{ asset.name }}</td>
                    <td>{{ asset.count }}</td>
                    <td>{{ asset.currencyType}}</td>
                    <td>{{ asset.value | currency: asset.currencyType}}</td>
                    <td>{{ asset.averagePurchasePrice | currency: asset.currencyType}}</td>
                    <td>{{ asset.currentPrice | currency: asset.currencyType}}</td>
                    <td [ngStyle]="{ color: asset.profit >= 0 ? 'green' : 'red' }">
                        {{ asset.profit | currency: asset.currencyType}}
                    </td>
                    <td [ngStyle]="{ color: asset.profitInPercentage >= 0 ? 'green' : 'red' }">
                        {{ asset.profitInPercentage }}%
                    </td>
                </tr>
            </ng-container>
            <tr>
                <td class="table-footer" colspan="8"></td>
            </tr>
            <tr *ngIf="!isLoading">
                <td colspan="1">{{ 'common.sum' | translate }}</td> <!-- name which in sum should be empty -->
                <td colspan="1"></td> <!-- count which in sum should be empty -->
                <td colspan="1">
                    <app-currency (currencyChange)="onCurrencyChange($event)"></app-currency>
                </td>
                <td colspan="1"> {{ getTotalValue() | currency: getCurrencyForSum() }}</td>
                <td colspan="1"></td> <!-- avg. purchase price which in sum should be empty -->
                <td colspan="1"></td> <!-- current price which in sum should be empty -->
                <td [ngStyle]="{ color: getTotalProfit() >= 0 ? 'green' : 'red' }">
                    {{ getTotalProfit() | currency: getCurrencyForSum()}}
                </td>
                <td [ngStyle]="{ color: getTotalProfitInPercentage() >= 0 ? 'green' : 'red' }">
                    {{ getTotalProfitInPercentage() }}%
                </td>
            </tr>
            </tbody>
        </table>
        <app-wallet-footer-navbar></app-wallet-footer-navbar>
    </ng-template>
</div>