<ul class="navbar-nav">
    <li>
        <a href="javascript:" class="full-screen" (click)="toggleFullscreen()">
            <i class="feather" [ngClass]="screenFull ? 'icon-minimize' : 'icon-maximize'"></i>
        </a>
    </li>
    <li>
        <div class="dropdown drp-user" ngbDropdown placement="auto">
            <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
                <i class="icon feather icon-settings"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end profile-notification" ngbDropdownMenu>
                <div class="pro-head">
                    <span>John Doe</span>
                </div>
                <ul class="pro-body">
                    <li>
                        <a href="javascript:" class="dropdown-item">
                            <i class="feather icon-settings"></i>
                            Settings
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" class="dropdown-item">
                            <i class="feather icon-lock"></i>
                            Log out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>
