<div class="wallet-container">
  <h2>Your Wallet Assets</h2>

  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Count</th>
      <th>Average Purchase Price</th>
      <th>Current Price</th>
      <th>Investment Start Date</th>
      <th>Profit (%)</th>
      <th>Profit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let asset of assets">
      <td>{{ asset.name }}</td>
      <td>{{ asset.value | currency }}</td>
      <td>{{ asset.count }}</td>
      <td>{{ asset.averagePurchasePrice | currency }}</td>
      <td>{{ asset.currentPrice | currency }}</td>
      <td>{{ asset.investmentStartDate }}</td>
      <td
        [ngClass]="{
        'profit-positive': calculateProfitPercentage(asset) > 0,
        'profit-negative': calculateProfitPercentage(asset) < 0
      }">
        {{ calculateProfitPercentage(asset) | number: '1.0-2' }}%
      </td>
      <td
        [ngClass]="{
        'profit-positive': calculateProfit(asset) > 0,
        'profit-negative': calculateProfit(asset) < 0
      }">
        {{ calculateProfit(asset) | currency }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
