th {
    background: burlywood;
    color: black;
}

th, td {
    padding: 8px;
    text-align: center;
    color: black;
}

.table-header {
    text-align: left;
    background: antiquewhite;
}

.table-footer {
    text-align: left;
    background: antiquewhite;
}

.empty-empty-subscriptions-text-text {
    margin-top: 10%;
    text-align: center;
}

.add-subscription-button {
    margin-top: 5%;
}
