<div class="container">
    <ng-container *ngIf="Object.keys(_subscriptions).length === 1; else subscriptionsTable">
        <div class="empty-subscriptions-text">
            <h3>{{ 'subscription.no.subscription.message' | translate }}</h3>
            <div class="add-subscription-button">
                <button (click)="addSubscription()">{{ 'subscription.add.subscription' | translate }}</button>
            </div>
        </div>
    </ng-container>

    <ng-template #subscriptionsTable>
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th>Aktywo</th>
                <th>Typ aktywa</th>
                <th>Typ powiadomienia</th>
                <th>Warunek</th>
                <th>Data utworzenia</th>
                <th>{{ 'common.action' | translate }}</th>
            </tr>
            </thead>

            <tbody>
            <td class="table-header" colspan="8"></td>
            <tr class="table" *ngFor="let subscription of _subscriptions">
                <td>{{ subscription.financeName }}</td>
                <td>{{ subscription.assetType }}</td>
                <td>{{ subscription.notificationType }}</td>
                <td>
                    <div *ngIf="subscription?.upperBoundPrice ?? false; else lowerBound">
                        Price greater than {{ subscription.upperBoundPrice }}
                    </div>
                    <ng-template #lowerBound>
                        <div *ngIf="subscription?.lowerBoundPrice ?? false">
                            Price lower than {{ subscription.lowerBoundPrice }}
                        </div>
                    </ng-template>
                </td>
                <td>{{ subscription.createdDate | date:'dd-MM-yyyy | | HH:mm:ss' }}</td>
                <td class="button-cell">
                    <button (click)="deleteSubscription(subscription.uri, subscription.id)" class="btn btn-danger btn-sm">
                        {{ 'common.delete' | translate }}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <app-footer-navbar></app-footer-navbar>
    </ng-template>
</div>

