.asset-list {
  max-height: 240px;
  overflow-y: auto;
  border: 3px solid #ccc;
  padding: 8px;
}

.asset-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  background-color: white;
  color: black;
  margin-bottom: 0;
}

.asset-item:hover {
  background-color: lightgray;
}

.asset-item.selected {
  background-color: #777777;
  font-weight: bold;
  color: white;
}
