<div class="navbar">
  <div class="navbar-language">
      <app-language-menu></app-language-menu>
  </div>

  <div class="navbar-center">
    <button class="navbar-button" (click)="subscription()">{{ 'common.subscription' | translate }}</button>
    <button class="navbar-button" (click)="wallet()">{{ 'common.wallet' | translate }}</button>
  </div>

  <div class="navbar-auth">
    <ng-container *ngIf="isLoggedIn(); else loggedOutTemplate">
      <app-hamburger-menu></app-hamburger-menu>
    </ng-container>
    <ng-template #loggedOutTemplate>
      <button (click)="login()">{{ 'navbar.login' | translate }}</button>
      <button (click)="register()">{{ 'navbar.register' | translate }}</button>
    </ng-template>
  </div>
</div>