.hamburger-menu {
  position: relative;
}

.hamburger {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 35px;
  padding: 0;
  cursor: pointer;
  margin-right: 18px;
  min-width: 0;
}

.line {
  width: 40px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.line.open:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.line.open:nth-child(2) {
  opacity: 0;
}

.line.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

.menu {
  position: absolute;
  top: 56px;
  right: 0;
  background: dimgrey;
  width: 180px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 10px 14px;
}

.menu li a {
  color: #333;
  text-decoration: none;
  display: block;
}
