<div class="row">
    <app-card cardTitle="Wallet Table" [options]="false" blockClass="table-border-style">
        <ng-container *ngIf="_assets.length === 0; else assetTable">
            <div class="empty-wallet-history-text">
                <h3>{{ 'asset.no.assets.message' | translate }}</h3>
                <div class="add-asset-button">
                    <button (click)="addAssetButton()">{{ 'asset.add.asset' | translate }}</button>
                </div>
            </div>
        </ng-container>

        <ng-template #assetTable>
            <table class="table table-hover">
                <thead class="table">
                <tr>
                    <th>{{ 'asset.name' | translate }}</th>
                    <th>{{ 'common.count' | translate }}</th>
                    <th>{{ 'asset.purchase.price' | translate }}</th>
                    <th>{{ 'asset.investment.start.date' | translate }}</th>
                    <th>{{ 'common.action' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table" *ngFor="let asset of _assets">
                    <td>({{ asset.symbol }}) {{ asset.name }}</td>
                    <td>{{ asset.count }}</td>
                    <td>{{ asset.purchasePrice | currency: asset.currencyType }}</td>
                    <td>{{ asset.createdDate | date:'dd-MM-yyyy | | HH:mm:ss' }}</td>
                    <td class="button-cell">
                        <button (click)="editAsset(asset)"
                                class="btn btn-primary btn-sm">{{ 'common.edit' | translate }}
                        </button>
                        <button (click)="deleteAsset(asset.id)"
                                class="btn btn-danger btn-sm">{{ 'common.delete' | translate }}
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </ng-template>
    </app-card>
</div>