<div *ngIf="isLoading" class="loading-state">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="row">
    <app-card cardTitle="Wallet History Table" [options]="false" blockClass="table-border-style">
        <ng-container *ngIf="!_assets.length && !isLoading; else assetTable">
            <div class="empty-wallet-history-text">
                <h3>{{ 'asset.no.assets.message' | translate }}</h3>
                <button class="btn btn-primary" (click)="addAssetButton()">{{ 'asset.add.asset' | translate }}</button>
            </div>
        </ng-container>

        <ng-template #assetTable>
            <table class="table table-hover">
                <thead class="table">
                <tr>
                    <th>{{ 'asset.name' | translate }}</th>
                    <th>{{ 'common.count' | translate }} ({{ 'unit.UNIT' | translate }})</th>
                    <th>{{ 'asset.purchase.price' | translate }}</th>
                    <th>{{ 'asset.current.price' | translate }}</th>
                    <th>{{ 'asset.investment.start.date' | translate }}</th>
                    <th>{{ 'asset.comment' | translate }}</th>
                    <th>{{ 'common.action' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table" *ngFor="let asset of _assets">
                    <td>({{ asset.symbol ? asset.symbol : 'asset.custom' | translate }}) {{ asset.name }}</td>

                    <td *ngIf="asset.unitType === 'UNIT'">
                        {{ asset.count }}
                    </td>

                    <td *ngIf="asset.unitType !== 'UNIT' && asset.assetType !== 'CUSTOM'">
                        {{ asset.count }} {{ asset.unitType ? '(' + (asset.unitType | translate) + ')' : '' }}
                    </td>

                    <td *ngIf="asset.assetType === 'CUSTOM'">
                        {{ asset.count }} {{ asset.unitType ? '(' +  asset.unitType + ')' : '' }}
                    </td>

                    <td>{{ asset.purchasePrice }} {{ CurrencyType.Symbols[asset.currencyType] }}</td>
                    <td>{{ asset.currentPrice ? (asset.currentPrice + CurrencyType.Symbols[asset.currencyType]) : '-' }}</td>
                    <td>{{ asset.createdDate | date:'dd-MM-yyyy | | HH:mm:ss' }}</td>
                    <td>
                        <div class="form-group">
                            <textarea
                                    class="form-control"
                                    id="comment"
                                    rows="1"
                                    [ngModel]="asset.comment"
                                    readonly
                            >
                            </textarea>
                        </div>
                    </td>
                    <td class="button-cell">
                        <button (click)="editAsset(asset)"
                                class="btn btn-primary btn-sm">{{ 'common.edit' | translate }}
                        </button>
                        <button (click)="deleteAsset(asset.id)"
                                class="btn btn-danger btn-sm">{{ 'common.delete' | translate }}
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div *ngIf="showSuccessMessage" class="alert alert-danger mt-1">
                {{ 'success.asset.delete.success' | translate }}
            </div>
        </ng-template>
    </app-card>
</div>