spring:
  profiles:
    active: native
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configurations/{profile}
      fail-fast: true

server:
  port: 7777

management:
  endpoints:
    web:
      exposure:
        include: health,info
